<launch>
  <arg name="port" default="auto"/>
  <arg name="baudrate" default="115200"/>
  <arg name="sensor_type" default="AK09973D"/>
  <arg name="output_dir" default="~/embedded_array_ws_Mi-Gels/src/sensor_data_collection/data"/>
  <arg name="imu_config" default="$(find sensor_data_collection)/config/icm42670.yaml"/>
  <arg name="publish_scaled_imu" default="true"/>

  <node name="serial_node_maggrad" pkg="serial_processor" type="serial_node_maggrad.py" output="screen">
    <rosparam file="$(arg imu_config)" command="load"/>
    <param name="port" value="$(arg port)"/>
    <param name="baudrate" value="$(arg baudrate)"/>
    <param name="sensor_type" value="$(arg sensor_type)"/>
    <param name="output_dir" value="$(arg output_dir)"/>
    <param name="publish_scaled_imu" value="$(arg publish_scaled_imu)"/>
  </node>
</launch>
