<launch>
  <!-- Arguments -->
  <arg name="hardware_config" default="qmc6309"/>

  <!-- Start localization service -->
  <node name="gels_localization_service" pkg="gels_localization" type="localization_service_node.py" output="screen">
    <param name="hardware_config" value="$(arg hardware_config)"/>
  </node>
</launch>
